<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>servlet.control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>grafico</servlet-name>
        <servlet-class>servlet.grafico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCli</servlet-name>
        <servlet-class>servlet.controlCli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlProd</servlet-name>
        <servlet-class>servlet.controlProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlPed</servlet-name>
        <servlet-class>servlet.controlPed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlDet</servlet-name>
        <servlet-class>servlet.controlDet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Qrimagen</servlet-name>
        <servlet-class>servlet.Qrimagen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grafico</servlet-name>
        <url-pattern>/grafico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCli</servlet-name>
        <url-pattern>/controlCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlProd</servlet-name>
        <url-pattern>/controlProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlPed</servlet-name>
        <url-pattern>/controlPed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlDet</servlet-name>
        <url-pattern>/controlDet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Qrimagen</servlet-name>
        <url-pattern>/Qrimagen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
